nav {
    background: #A7DBD8;
  }
  ul {
    margin: 0px;
  }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 30px 0;
  }
  
  li a {
    text-decoration: none;
    color: black; 
    padding: 20px; 
    }
  
  li a:hover {
    background: #FFA157;
    border-radius: 25p

  }

  header {
    height: 70vh;
    background-color: lightcoral;
     background-image: url(images/hero.jpeg);
     background-size: cover;
     display: flex;
    }
   }

   

   .container {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    padding: 5px;
    flex-basis: 100%;
    margin: 5px;
  }

  .card1 {
    background-image: url(images/orange-gradient-background.jpeg);


  }
  
  .early-origins {
    background-color: #FFA157;
    text-align: left;
    padding: 20px;
    display: flex;
    gap: 2em;
    }

  .early-origins-content {
    flex: 1;
  }
  .early-origins-image {
   width: 465px;
   padding: 2em;
  
  }

  .early-origins-image img {
    width: 100%;
    border-radius: 25px;
  }

    .nineteen-hundreds-content {
      flex: 1;
    }
    .nineteen-hundreds-image {
     width: 465px;
     padding: 2em;
    
    }
  
    .nineteen-hundreds-image img {
      width: 100%;
      border-radius: 25px;
    }
      
  
