nav {
    background: #A7DBD8;
  }
  ul {
    margin: 0px;
  }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 30px 0;
  }
  
  li a {
    text-decoration: none;
    color: black; 
    padding: 20px; 
    }
  
  li a:hover {
    background: #FFA157;
    border-radius: 25px;
  }

  header {
    height: 70vh;
    background-color: lightcoral;
     background-image: url(images/hero.jpeg);
     background-size: cover;
     display: flex;
     flex-direction: column;
     align-items: left;
     justify-content: left;
     padding-left: 65px;
   }

   .container {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    padding: 5px;
    flex-basis: 100%;
    margin: 5px;
  }

  .card1 {
    height: 500px;
   
    background-image: url(images/orange\ gradient\ background.jpeg);
    background-color: white;
    background-blend-mode: screen;

  }
  
  .card2 {
    background-color: #FFA157;
    height: 500px;
    }

    .card2 img {
    
    }

    .card6 {
      height: 500px;
      background-image: url(images/surf4.png);
      background-repeat: no-repeat;
      background-size: 100%;
    }