@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Nunito:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Kirang Haerang', cursive;
  font-size: 60px;
}
.navigation {
  background: #A7DBD8;
  display: flex;
  justify-content: flex-end;
 }


  ul {
    margin: 0px;
  }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 0;
  }
  
  li a {
    text-decoration: none;
    color: black; 
    padding: 20px; 
    }
  
  li a:hover {
    background: #FFA157;
    border-radius: 25p

  }

  header {
    height: 70vh;
    padding: 2em;
    background-color: lightcoral;
     background-image: url(images/hero.jpeg);
     background-size: cover;
     background-position: center;
     display: flex;
     align-items: center;
     font-size: x-large;
    

    }
   

   

   .container {
    margin: 0;
    width: 100%;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
  }
  
  .section {
    display:flex;
    gap: 1em;
    box-sizing: border-box;
  }

  .card-image {
    flex: 1;
  }



  .card-text {
    flex: 1;
  }

  .card-content {
    align-content: center;
    flex: 2;
  }


  .surf-title {
    background: url(images/Surf.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    position: relative;
    height: 300px;
  }

  .surf-title-photo {
    position: absolute;
    top: -250px;
    right: 100px;
    width: 493px;
    height: 430px;
  }

  .surf-title-photo img {
    width: 100%;
  }

  .overview-container {
    width: 90%;
    margin: 0 auto;
  }

  .overview {
    display: flex;
    gap: 2em;
    margin: 0 auto;
    padding-left: 7em;
    /* background-image: url(images/orange-gradient-background.jpeg); */
    background-color: rgba(255,255,255,.3);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .overview-text {
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 8em;
  }
  
  .overview-photo {
    flex: 1;
    /* position: relative; */
    padding-top: 1em;

  }

  .overview-photo2 {
    width: 40%;
    position: relative;
    top: -100px;
    left: 40%
  
    /* 
    position: absolute;
    right: -250px;
    bottom: -100px; */
  }

  .overview-photo2 img {
    width: 100%;
  }

  .overview-photo img {
    width: 100%;
    padding-top: 90px;
  }
  
  .overview-content {
    flex: 1;
  }
  .early-origins {
    background-color: #FFA157;
    text-align: left;
    padding: 20px;
    display: flex;
    gap: 2em;
 
    }

  .early-origins-content {
    flex: 1;
  }
  .early-origins-image {
   width: 465px;
   padding: 2em;
  
  }

  .early-origins-image img {
    width: 100%;
    border-radius: 25px;
  }

  .decades-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-image: url(images/orange-gradient-background.jpeg);
    background-color: rgba(255,255,255,.3);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .decades-section-content {
    width: 400px;
    padding-left: 3em;
  }

  .decades-section-photo {
   width: 520px;
   position: relative;
  }

  .decades-section-photo-2 {
    width: 487px;
    height: 382px;
    position: absolute;
    top: 100px;
    left: -375px;
    z-index: 1000;
  }

.decades-section-photo-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.two-col-card {
  display: flex;
  gap: 1em;
  background-color: rgba(255,255,255,.3);
  padding-top: 10em;
  padding-right: 7em;
}

.two-col-card-content {
  padding-left: 3em;
}


.thirties-section {
  display: flex;
  justify-content: center;
  gap: 1em;
  background-image: url(images/orange-gradient-background.jpeg);
  background-color: rgba(255,255,255,.3);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:10em;
}

.thirties-text {
  padding-top:2em;
  padding-bottom:5em;
  padding-left: 5em;
  padding-right: 5em;
}

.section-reverse {
  flex-direction: row-reverse;
}


.thirties-section-content {
  display: flex 1;
}

.thirties-section-photo img {
  align-items: flex-end;
}

.hero-img-1 {
  padding-top: 4em;
}

.fifties-section-photo-absolute img {
  width: 100%;
  border-radius: 45px;
}

.fifties-section-photo-absolute {
  position: relative;
}



.forties-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: rgba(255,255,255,.3);

  background-size: cover;
}

.forties-section-content {
  width: 400px;
  padding: 0 3em;
}

.forties-section-photo {
 width: 820px;
}

.fifties-section {
  display: flex;
  gap: 1em;
  position: relative;
  margin: 4em 0;
  padding: 0 3em;
  background-image: url(images/orange-gradient-background.jpeg);
  background-color: rgba(255,255,255,.3);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
}

.fifties-section-content {
  padding-right: 5em;
}

.fifties-section-photo-absolute img {
  width: 100%;
  border-radius: 45px;
}

.fifties-section-photo-absolute {
  position: relative;
}

.fifties-section-photo-absolute {
  width: 400px;
  position: absolute;
  bottom: -50px;
  right: 400px;
}

.sixties-text {
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 5em;
}

.hero-image-3 {
  padding-top: 5em;
}

.section-photo {
  background: black;
  display: flex;
  justify-content:center;
}

.seventies-text {
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 3em;
  padding-bottom: 5em;
}

.section-photo img {
  padding:40px;
  width:100%;
}


.photo-block img {
  display: block;
  padding: 1em;
}

.seventies-section-content {
  text-align: center;
  
}

.eighties-section-content {
  text-align: center;
}

.eighties-text {
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 3em;
  padding-bottom: 5em;
}

.nineties-section {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 2em;
}

.nineties-section-content {
  flex: 1;
}
  

.nineties-section-photo {
  flex: 1;
  padding: 1em;
}

.nineties-text {
  padding-right: 5em;
}

.nineties-section-photo img {
  width: 100%;
}

.two-thousands-text {
  padding-right: 5em;
  padding-bottom: 5em;
padding-left:5em;
}

.two-thousands-section-photo {
  padding-left: 7em;
}

.present-day-section-content {
  padding: 7em;
  padding-bottom: 3em;
}

.present-day-text {
  padding-left: 5em;
  padding-right: 5em;
}



footer {
background-color: #A7DBD8;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 1em;
}

.footer-icons {
  display: flex;
  font-size: 25px;
  padding-right: 2em;
}
